[Desktop Entry]
Encoding=UTF-8
Name=Pygenda
Type=Application
Comment=An agenda application to keep track of your appointments
Comment[fr]=Une application agenda pour noter vos rendez-vous
Exec=python3 -m pygenda
Icon=x-office-calendar
Categories=Office
Terminal=false
StartupNotify=false
Keywords=agenda;calendar;scheduling;ical;appointments
